[submodule "extern/rubberband"]
	path = extern/rubberband
	url = https://github.com/breakfastquay/rubberband.git
[submodule "extern/signalsmith-stretch"]
	path = extern/signalsmith-stretch
	url = https://github.com/Signalsmith-Audio/signalsmith-stretch.git
[submodule "extern/signalsmith-linear"]
	path = extern/signalsmith-linear
	url = https://github.com/Signalsmith-Audio/linear.git
[submodule "extern/libpaulstretch"]
	path = extern/libpaulstretch
	url = https://github.com/olilarkin/libpaulstretch.git
[submodule "extern/bungee"]
	path = extern/bungee
	url = https://github.com/bungee-audio-stretch/bungee.git
